:root {
  --accent-color: #8c4613;
  --regular-color: #26252b;
  --shadow-color: rgb(117 63 21 / 26%);
  --background-color: #dedbd5;
  --header-background-color: rgb(144 117 105);
  --box-shadow-color: var(--header-background-color);
  --border-hover-len: 6px;
  --border-len: 4px;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--background-color) 0%,
    #ecece7 45%,
    #d8d5c8 100%
  );
  background-attachment: fixed;
}
h1, h3, h4, p {
  color: var(--regular-color)
}
p {
  font-size: 1em;
  color:#705946
}

h2 {
  font-size: 2em;
  scroll-margin-top: 80px;
  text-align: center;
}

#page-content {
  margin: 15vw;
}

h2 {
  color:var(--accent-color);
}
h4 {
  margin: 0;
}
