.section-card-container {
  display: flex;
  padding: 1%;
  align-items:start;
  justify-content: center;
  box-shadow: var(--border-len) var(--border-len) 0px var(--accent-color);
  background-color: rgb(236, 236, 231);
  width: min(100%, 1900px);
  gap: 1rem;
  height:auto;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
}

.section-card-container:hover {
    box-shadow: var(--border-hover-len) var(--border-hover-len) 2px var(--accent-color);
}

.section-card-container > .section-card-date {
  flex: 1 0 100px;
  color: var(--accent-color);
  font-weight: 1000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}
.section-card-container > .section-card-org {
  flex: 2
}
.section-card-container > .section-card-img {
  height: clamp(100px, 20vh, 200px);
  flex: 1;
  object-fit:contain;
}
