.project-card-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
  padding: 4ch;
  box-shadow: var(--border-len) var(--border-len) 0px var(--box-shadow-color);
  background-color: rgb(236, 236, 231);
  border-radius: 5px;
  width: min(100%, 1900px);
  height: auto;
  min-width: 0;
  color: inherit;
  text-decoration: none;
}

.project-card-date-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 3;
}

.project-card-container:hover {
  box-shadow: var(--border-hover-len) var(--border-hover-len) 2px var(--box-shadow-color);
}

.project-card-name {
  margin: 0;
}

.project-card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
}

.project-card-img {
  height: clamp(100px, 20vh, 200px);
  max-width: 200px;
  object-fit: cover;
}

.project-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  flex: 3;
  min-width: 0;
}

.project-card-year {
  flex: 1 0 100px;
  color: var(--accent-color);
  font-weight: 1000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

.project-card-details p {
  margin: 0;
}

@media (max-width: 840px) {
  .project-card-date-body-container {
    flex-direction: column;
    padding: 1rem;
  }

  .project-card-details{
    flex: none;
    width: 100%;
  }

  .project-card-year {
    flex: none;
    max-height: 2rem;
  }

  .project-card-img {
    height: clamp(100px, 20vh, 200px);
    max-width: 200px;
    align-self: center;
  }
}

@media(max-width: 640px) {
  .project-card-container {
    flex-direction: column;
  }
}
